/* Remove the navbar's default margin-bottom and rounded borders */
/*.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:black;
}*/

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}
.carousel-caption{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
