@model LoginViewModels
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="login">

    <h2 class="active"> Giriş Yap </h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <input type="text" class="text" name="username" asp-for="UserNameOrEmail">
        <span>Kullanıcı Adı</span>
        <br>
        <br>
        <input type="password" class="text" name="password" asp-for="Password">
        <span>Şifre</span>
        <br>

        <hr >
       
        <button class="signin">
            Giriş Yap
        </button>
        <br>
       
        <a class="kayit" asp-controller="Account" asp-action="Register">Hesabınız yok mu? Kayıt Ol</a>

  <br >
  <br >
        <a class="kayit" asp-controller="Home" asp-action="Index" style="font-size:20px">Anasayfaya Dön</a>

    </form>

</div>