<!DOCTYPE html>
<html lang="en">
<head>
 @*   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieWorldWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieWorldWeb.styles.css" asp-append-version="true" />

*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>Dorang | Free Bootstrap 4.3.x template</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Dorang main styles -->
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="page-navbar" data-spy="affix" data-offset-top="10">
            <ul class="nav-navbar container">
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Hakkımızda</a></li>
                <li class="nav-item"><a href="#" class="nav-link">İletişim</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Login">Giriş</a></li>
                @* <li class="nav-item search">
                <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i> Search</a>
                <div class="search-wrapper">
                <form>
                <input type="search" class="form-control" name="" placeholder="hit enter to search">
                </form>
                </div>
                </li>*@
            </ul>
        </nav><!-- end of page navbar -->

        <div class="theme-selector">
            <a href="javascript:void(0)" class="spinner">
                <i class="ti-paint-bucket"></i>
            </a>
            <div class="body">
                <a href="javascript:void(0)" class="light"></a>
                <a href="javascript:void(0)" class="dark"></a>
            </div>
        </div>

    </header>

  @*  <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-red bg-black border-bottom box-shadow mb-3" >
            <div class="container-fluid" style="background-color:black">
                <a class="navbar-brand" style="color:red; font-family:cursive" asp-area="" asp-controller="Home" asp-action="Index">MovieWorldWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">İletişim</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right text-white">
                        <li><a type="button" asp-controller="Home" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MovieWorldWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
