
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>Dorang | Free Bootstrap 4.3.x template</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Dorang main styles -->
    <link rel="stylesheet" href="assets/css/dorang.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    <!-- page container 2.Kısım ödül alanlar-->
    <div class="container page-container">
       
        <!--3 Hakkımızda-->
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4 mt-5 pt-5">Hakkımızda</h6>
            <p class="mb-5">
                Movie World <a href="https://developer.themoviedb.org/reference/intro/getting-started">TMBD</a> sayfasında bulunan filmlerin API ile listelendiği bir projedir.
                Proje Visual Studio .Net 6 ASP.NET MVC CORE ile geliştirilmiştir. Projenin tüm hakları <a href="https://github.com/EdanurKlnc?tab=projects">şahsıma</a> aittir.Projenin kodlarını incelemek için <a href="https://github.com/EdanurKlnc/MovieWorldWeb">Githup deposuna </a> bakabilirsiniz.
            </p>
        </div>

        <!-- row -->
        <div class="row mb-5">
            <div class="col-md-12">
                <a href="javascript:void(0)" class="card">
                    <img src="https://i.pinimg.com/280x280_RS/bb/59/9f/bb599fe34e442ddc7152222199b4f150.jpg" class="card-img" style="height:350px;width:400px">
                    <div class="card-body">
                        <h6 class="card-subtitle">18 Haziran ,2023</h6>
                        <h3 class="card-title">
                            MOVİE WORLD
                        </h3>

                    </div>
                </a>
            </div>

        </div><!-- end of row -->
        @*  <a href="#">All Posts <i class="ti-angle-double-right angle"></i></a>*@

    </div> <!-- end of page container 2.kısım -->

</body>
</html>