@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>Dorang | Free Bootstrap 4.3.x template</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Dorang main styles -->
    <link rel="stylesheet" href="assets/css/dorang.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">


    <!-- Anasayfa -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">Bugün Hangi Filmde Başrolsün?</h1>
            <p class="header-subtitle">
                Film dünyasına hoşgeldiniz
            </p>

            <button class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> Watch Video</button>

        </div>
    </header>
    <!-- end of anasayfa -->
    <!-- modal -->
    <div class="modalBox">
        <div class="modalBox-body">
            <iframe width="100%" height="450px" class="border-0"
                    src="https://www.youtube.com/embed/tgbNyZ7vqY?controls=0">
            </iframe>
        </div>
    </div><!-- end of modal -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- page container 2.Kısım ödül alanlar-->
    <div class="container page-container">
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4">2023 Oscar Ödüller</h6>
            <p class="mb-5">
           
            </p>
        </div>

        <!-- row -->
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="https://tr.web.img2.acsta.net/pictures/22/03/15/07/33/2120506.jpg" alt="image">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">En İyi Film</h1>                           
                        <h3>Her Şey Her Yerde Aynı Anda</h3>

                        <h6 class="subtitle">
                            <p>
                                Her Şey Her Yerde Aynı Anda, Daniel Kwan ve Daniel Scheinert tarafından yazılan ve yönetilen bir Amerikan bilimkurgu filmi. Başrollerinde Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Jenny Slate, Harry Shum Jr., James Hong ve Jamie Lee Curtis var.
                            </p>
                        </h6>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="https://c.ndtvimg.com/2023-05/khl7aa98_brendan-fraser_625x300_07_May_23.jpg" alt="image" style="height:500px">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">En İyi Erkek Oyuncu</h1>                     
                        <h3>Brendan Fraser      (“The Whale”)</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="https://cdn.britannica.com/98/238198-050-9A1C1028/Michelle-Yeoh-2022.jpg" alt="image" style="height:500px">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">
                            En İyi Kadın Oyuncu
                        </h1>
                        <h3>Michelle Yeoh (“Everything Everywhere All at Once”)</h3>

                        <h6 class="subtitle">
                        
                            </h6>
                    </div>
                </a>
            </div>
        </div><!-- end of row -->

       @* <a href="#">Load More <i class="ti-angle-double-right angle"></i></a>*@

        <!--3 Hakkımızda-->
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4 mt-5 pt-5">Hakkımızda</h6>
            <p class="mb-5">
                Movie World <a href="https://developer.themoviedb.org/reference/intro/getting-started">TMBD</a> sayfasında bulunan filmlerin API ile listelendiği bir projedir.
                Proje Visual Studio .Net 6 ASP.NET MVC CORE ile geliştirilmiştir. Projenin tüm hakları <a href="https://github.com/EdanurKlnc?tab=projects">şahsıma</a> aittir.Projenin kodlarını incelemek için <a href="https://github.com/EdanurKlnc/MovieWorldWeb">Githup deposuna </a> bakabilirsiniz.
            </p>
        </div>

        <!-- row -->
        <div class="row mb-5">
            <div class="col-md-12">
                <a href="javascript:void(0)" class="card">
                    <img src="https://i.pinimg.com/280x280_RS/bb/59/9f/bb599fe34e442ddc7152222199b4f150.jpg" class="card-img" style="height:350px;width:400px">
                    <div class="card-body">
                        <h6 class="card-subtitle">18 Haziran ,2023</h6>
                        <h3 class="card-title">
                            MOVİE WORLD
                        </h3>
                       
                    </div>
                </a>
            </div>
           
        </div><!-- end of row -->

      @*  <a href="#">All Posts <i class="ti-angle-double-right angle"></i></a>*@

    </div> <!-- end of page container 2.kısım -->

    <!--footer & pre footer -->
    <div class="contact-section">
        <div class="overlay"></div>
        <!-- container iletişim -->
        <div class="container">
            <div class="col-md-10 col-lg-8 m-auto">
                <h6 class="title mb-2">İletişim</h6>
                <p class="mb-5">Bizimle iletişime geçin.</p>
                <form action="" class="form-group">
                    <input type="text" size="50" class="form-control" placeholder="Adınız" required>
                    <input type="email" class="form-control" placeholder="Email Adresiniz" requried>
                    <textarea name="comment" id="comment" rows="6" class="form-control" placeholder="Mesajınızı yazınız"></textarea>
                    <input type="submit" value="Gönder" class="form-control">
                </form>
            </div>

            <!-- footer -->
            <footer class="footer">
                <p class="infos">&copy; <script>document.write(new Date().getFullYear())</script>, Made with <i class="ti-heart text-danger"></i> by <a href="http://www.devcrud.com">DevCRUD</a></p>
                <span>|</span>
                <div class="links">
                    <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                    <a href="#">Hakkımızda</a>
                    <a asp-controller="Account" asp-action="Login">Giriş</a>
                </div>
            </footer><!-- end of footer -->

        </div><!-- end of container -->
    </div><!-- end of pre footer -->
    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Dorang js -->
    <script src="assets/js/dorang.js"></script>

</body>
</html>


@*
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
                <img src="https://img.migalhas.com.br/gf_Base/empresas/miga/imagens/E815FF796C22D405AAB02BEDF38C23F48B63_cinema.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>Hepimiz kendi hayatlarımızın başrolüyüz</h3>
          <p></p>
        </div>
      </div>

            <div class="item">
        <img  src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text..</p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
*@